/* Footer.css */
.footer-container {
    justify-content: space-between; /* Space between the left and right sides */
    align-items: center; /* Center items vertically */
    position: fixed;
    width: 100%;
  }

  .footer-cursive {
    font-family: var(--cursive); /* Using the cursive font defined in App.css */
    font-size: 3em; /* Larger font size for 'systems-oriented' */
  }

  .footer-sans-serif {
    font-family: var(--sans-serif); /* Using the sans-serif font defined in App.css */
    font-size: 2.5em; /* Slightly smaller font size for 'CONSULTANT DEVELOPER' */
    margin-top: -20px; /* Optional: Adjust the spacing between the two lines */
  }

  .footer-content {
    text-align: right; /* Right-align the content */
  }

  .footer-text {
    font-family: var(--sans-serif); /* Consistency with the rest of the text */
    margin-bottom: 20px; /* Space above the button */
  }

  .footer-button {
    /* Styles for the button */
    padding: 10px 20px; /* Button padding */
    font-size: 1em; /* Button font size */
  }
