/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");

:root {
  --serif: "Merriweather", "Times New Roman", Times, serif;
  --sans-serif: "Roboto", Helvetica, Arial, sans-serif;
  --monospace: "Roboto Mono", "Courier New", Courier, monospace;
  --cursive: "Chicle", sans-serif;
}

.serif {
  font-family: var(--serif);
}

.sans-serif {
  font-family: var(--sans-serif);
}

.monospace {
  font-family: var(--monospace);
}

.cursive {
  font-family: var(--cursive);
}

